*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height: 100%;
    width: 100%;
    background:linear-gradient(to right bottom,#33a,#aaa);

}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;  
}

.square,.cube,.squarePrint ,.CubePrint{
    height: 50vh;
    width: 40vw;
    border: 1px solid black;
    border-radius: 2rem;
    text-align: center;
    margin-top: .2rem;
    background:linear-gradient(to right bottom,#fca,#adc)
}
.heading{
    width: 90%;
    height: 3rem;
    text-align: center;
    margin-top: 2rem;
    color: #000;
    background-color: #8a86;
    border-radius: 3rem;
    line-height: 3rem;
    margin-left: 1rem;
}
#squareno,#cubeno{
    margin-top: 2rem;
    height: 2rem;
    width: 35%;
    text-align: center;
    font-size: .9rem;
    border: none;
    border-radius: .5rem;
    background-color:#4999 ;
}
.result,.show{
    margin-top: 2rem;
    width: 100%;
    background-color:#fa1;
    height: auto;
    font-size: 1.7rem;
    border-radius: 1rem;
}
.btnSquare,.cubebtn{
    margin-top: 1rem;
    padding: 0 2rem;
    height: 2rem;
    border: none;
    background:linear-gradient(to right bottom,#3aa,#331);
    opacity: .8;
    border-radius: 3rem;
    cursor: pointer;
    transform: 3s;
    font-size: 1rem;
    color: #fa4;
    box-shadow: 0 0 9px #3a1;
}
.cubebtn:hover{
    opacity: 1;
    background-color: #ffd;
}
.btnSquare:hover{
    opacity: 1;
    border-bottom: 2px solid black;
}
.hide{
    display: none;
}
#start,#end,#startCube,#endCube{
    margin-top: 2rem;
    height: 2rem;
    width: 5rem;
    text-align: center;
    font-size: 1rem;
    border-radius: .4rem;
    border: none;
    background-color: #3aa8;

}
.check,.checkCube,.clear,.cut{
    margin-top: 1rem;
    height: 2rem;
    padding: 0 3rem;
    border-radius: 1rem;
    background-color: #3a1;
    font-size: 1rem;
    border: none;
}
.squarePrint,.CubePrint{
    padding-bottom: 11rem;
    height: auto;
}
.res ul{
    list-style-type: none;
}
.rescube ul {
    list-style-type:none;
}
.res ul li{
    height: 2rem;
    font-size: 1.3rem;
    background-color: #fa1;
    width: auto;
    margin: .2rem;
}
.res{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2rem;
    font-size: 2rem;
    width: auto;
    margin-top: 2rem;
}
.rescube{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2rem;
    font-size: 2rem;
    width: auto;
    margin-top: 2rem;
    box-sizing: border-box;
    


}
.rescube ul li{
    height: 2rem;
    font-size: 1.3rem;
    background-color: #fa1;
    width: auto;
    margin: .2rem;
}








@media (max-width:1000px){
    .main{
        display: flex;
    }
    .square{
        width: 100%;
    }
    .cube{
        width: 100%;
    }
    .CubePrint{
        width: 100%;
    }
    .squarePrint{
        width: 100%;
    }

}
